@model NguyenQuangHuong.Models.Testimonial

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Testimonial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestimonialText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestimonialText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountsUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountsUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TestimonialId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
